/* CSS för header, hamburgare menyn */
body {
  margin: 0;
  font-family: "Lucida Bright", serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}

/* Logotyp stil */
.logo {
  width: 200px; /* Justera bredden på logotypen */
  height: 60px; /* Justera höjden på logotypen */
  background-size: contain; /* Se till att bilden är skalad korrekt */
  background-repeat: no-repeat; /* Se till att bilden inte upprepas */
  background-position: center; /* Se till att bilden är centrerad */
}

/* Desktop-meny */
.desktop-menu {
  display: none;
}

.desktop-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-menu ul li {
  margin-left: 20px;
}

.desktop-menu ul li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.desktop-menu ul li a:hover {
  background-color: rgb(196, 222, 255);
}

/* Mobil-meny */
.mobile-menu {
  display: flex;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: black;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 200px;
  background-color: white;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  border-bottom: 1px solid #555;
}

.menu ul li a {
  display: block;
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  background-color: rgb(196, 222, 255);
}

/* Visa desktop-menyn och dölja mobil-menyn vid större skärmar */
@media (min-width: 768px) {
  .logo {
    background-image: url("img/logga-liten.png"); /* Länk till desktop-bilden */
  }
  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}

/* Visa mobil-menyn vid mindre skärmar */
@media (max-width: 767px) {
  .logo {
    background-image: url("img/kompass-liten.png"); /* Länk till mobilbilden */
  }
  .menu-icon {
    display: flex;
  }

  #menu-toggle:checked + .menu-icon + .menu {
    display: block;
  }
}
